--extra-index-url https://download.pytorch.org/whl/cu124
accelerate
diffusers==0.30.3
controlnet_aux==0.0.9
huggingface_hub==0.25.1
# insightface==0.7.3
git+https://github.com/badayvedat/insightface.git@1ffa3405eedcfe4193c3113affcbfc294d0e684f#subdirectory=python-package
numpy==1.26.2
opencv_contrib_python==4.9.0.80
opencv_python==4.9.0.80
opencv_python_headless==4.7.0.72
Pillow==10.1.0
pydantic<2.0.0
torch==2.4.0
torchvision==0.19.0
torchaudio==2.4.0
torchsde==0.2.6
transformers==4.44.2
onnxruntime-gpu
hf_transfer
gradio
spaces
